IO_LOC "startTx" 3;
IO_PORT "startTx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "outputTx" 25;
IO_PORT "outputTx" IO_TYPE=LVCMOS33 PULL_MODE=UP;